body {
  font-family: 'Tahoma';
}

div {
  background-color: #f5f5f5;
  padding: 50px;

  text-align: center;
  border-bottom: 1px solid #d5d5d5;
}

img {
  width: 190px;
}

h1{
  font-size: 36px;
}
h2 {
  font-size: 24px;
}
h3 {
  font-size: 20px;
}

p {
  width: 930px;  
  line-height: 28px;
  /* text-align: center; */
  margin-right: auto;
  margin-left: auto;
}

a {
  background-color: green;
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  padding: 10px 15px;
  border-radius: 30px;
}

span {
  font-weight: bold;
}